/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/
/tmp/
._*

# rspec failure tracking
.rspec_status

lookerpublickey.json
publickey.json
.config.yml
.travis.yml
.rspec
.gitignore
